html:hover
{
    cursor: crosshair;
}
body
{
    font-family: 'Major Mono Display', sans-serif;
}

.oops-flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 10% auto;
}

.border-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1
{
    font-size: 24px;
}

a
{
    margin-top: 25px;
    text-decoration: none;
    border-bottom: 1px solid #39ff14;
    padding-bottom: 5px;
    color: white;
}

a:hover
{
    font-family: 'Share Tech Mono', sans-serif;
    background: white;
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px 30px;
    font-weight: 900;
}

/*Media query for smaller screen sizes*/
@media screen and (max-width: 980px)
{
    body
    {
        width: 100vw;
    }
    .oops-flex, .border-content
    {
        width: 80%;
        margin: 10px auto;
    }
}
