/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Syne+Mono&family=Share+Tech+Mono");

:root
{
    --primary-color: #000000;
    --secondary-color: #39ff14;
    --tertiary-color: #ffffff;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:hover
{
    cursor: crosshair;
}

body
{
    font-family: 'Syne Mono', sans-serif;
    font-size: 20px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    /*background-image: radial-gradient(rgba(0, 150, 0, 0.15), black 120%);*/
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;
}

header
{
    font-family: 'Major Mono Display', sans-serif;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 7.5px rgba(256, 256, 256, 0.55);
}

header h1
{
    font-family: 'Major Mono Display', sans-serif;
    font-weight: normal;
    font-size: 48px;
}

header a
{
    text-decoration: none;
    color: var(--secondary-color);
}

header nav
{
    margin: 10px;
}

header nav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a
{
    padding: 40px;
    font-size: 1.5vw;
}

header nav ul li a:hover
{
    color: var(--tertiary-color);
    text-shadow: none;
}

header nav ul li a:hover::before
{
    content: '>';
}
/* Return to top button styling start */
#toTopButton
{
    display: none;
    cursor: pointer;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: rgba(0,0,0,0);
}

#toTopButton img
{
    height: 50px;
    width: 50px;
}
/* Return to top button styling end */

h2
{
    font-family: 'Major Mono Display', sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-align: right;
    color: var(--secondary-color);
    text-shadow: 0 0 7.5px rgba(256, 256, 256, 0.55);
    display: inline-block;
    width: 100%;
}

h3
{
    font-family: 'Major Mono Display', sans-serif;
}

h4
{
    font-family: 'Major Mono Display', sans-serif;
}

/*About Section Styling Start */
.hero img
{
    height: auto;
    width: 400px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 15px;
}

.about-content
{
    width: 65%;
    margin: auto 50px;
}

.about-content p
{
    text-align: justify;
    line-height: 1.5;
    padding: 5px;
}

.about-content a
{
    color: var(--tertiary-color);
    border-bottom: 1px solid var(--secondary-color);
    padding: 2px;
    text-decoration: none;
}

.about-content a:hover
{
    font-family: 'Share Tech Mono', sans-serif;
    background: white;
    color: var(--primary-color);
    font-weight: 900;
}
/*About Section Styling End */

/*Projects Section Styling*/
.images-list
{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: auto 45px;
    align-content: flex-start;
    justify-content: space-between;
}

.images-list a
{
    display: flex;
    width: 49%;
    text-decoration: none;
    color: var(--tertiary-color);
    background-size: cover;
    background-position: center;
    min-height: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/*Adjust first image of project list to be larger than rest*/
.images-list a:first-of-type
{
    height: 500px;
    width: 100%;
}

/*Set images for project links*/
.images-list a:nth-child(1)
{
    background-image: url('../images/calculator-pic-green.jpg');
}

.images-list a:nth-child(2)
{
    background-image: url('../images/password-pic-green.jpg');
}

.images-list a:nth-child(3)
{
    background-image: url('../images/robot-pic-green.jpg');
}

.images-list a:nth-child(4)
{
    background-image: url('../images/horiseon-screenshot-green.png');
}

.images-list a:nth-child(5)
{
    background-image: url('../images/run-buddy-screenshot-green.png');
}

/* Change project link images on Hover*/
.images-list a:nth-child(1):hover
{
   background-image: url('../images/calculator-pic.jpg');
   opacity: .75;
}

.images-list a:nth-child(2):hover
{
   background-image: url('../images/password-pic.jpg');
   opacity: .75;
}

.images-list a:nth-child(3):hover
{
   background-image: url('../images/robot-pic.jpg');
   opacity: .75;
}

.images-list a:nth-child(4):hover
{
   background-image: url('../images/horiseon-screenshot.png');
   opacity: .75;
}

.images-list a:nth-child(5):hover
{
   background-image: url('../images/run-buddy-screenshot.png');
   opacity: .75;
}

.span-bottom-left
{
    margin-top: auto;
    margin-bottom: 10px;
    width: 48%;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-align: left;
    font-family: 'Share Tech Mono', sans-serif;
    line-height: 1.5;
    border: 1px solid var(--tertiary-color);
}

/*Projects Section Styling End */

/*Contact Me Section Styling*/
.contact-me
{
    display: flex;
    width: 100%;
}

.contact-items
{
    width: 65%;
    margin: auto 45px;
}

.contact-items ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.contact-items ul li a
{
    padding: 25px 30px;
    font-size: 24px;
    color: var(--tertiary-color);
    text-decoration: underline var(--secondary-color);
}

.contact-items ul li a:hover
{
    font-family: 'Share Tech Mono', sans-serif;
    background: white;
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px 30px;
    font-weight: 900;
}

/* Utility Styles */
.flex-row
{
    display: flex;
    width: 100%;
    margin: 50px auto;
}
.flex-item
{
    width: 100%;
    display: flex;
}

.primary-header
{
    width: 20%;
}
/*Create border on only four corners*/
/*Link to source: https://codepad.co/snippet/only-corner-border-for-an-element*/
.border-corners-only {
    border: 2px solid var(--secondary-color);
    display: flex;
    margin: auto auto;
    padding: 15px;
    position: relative;
    width: auto;
}

.border-content
{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.border-corners-only::before, .border-corners-only::after 
{
  content: '';
  position: absolute;
  background: rgba(0,0,0,1);
}

.border-corners-only::before 
{
  width: calc(100% + 50px + 4px - 120px);
  height: calc(100% + 4px);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.border-corners-only::after 
{
  height: calc(100% + 50px + 4px - 120px);
  width: calc(100% + 4px);
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/*Media Query for small screens*/
@media screen and (max-width: 980px)
{
    header
    {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1
    {
        width: 100%;
        text-align: center;
    }

    header nav ul
    {
        width: 100%;
        justify-content: center;
    }

    header nav ul li a
    {
        font-size: 1.5em;
        padding: 0px 25px;
        color: var(--tertiary-color);
    }

    #toTopButton
    {
        width: 50px;
        height: 50px;
        bottom: 20px;
        left: 25px;
    }

    #toTopButton img
    {
        height: 50px;
        width: 50px;
    }

    .border-content, .border-corners-only
    {
        width: 100%;
    }
    /*about section style edits*/
    .about-content, .images-list, .contact-items
    {
        width: 70%;
        padding: 5px;
        flex-direction: column;
    }
    .about-content p
    {
        text-align: left;
        font-size: 1.25em;
    }
    .hero img
    {
        height: auto;
        width: 100%;
    }

    /* work section style edits*/
    .images-list a
    {
        width: 100%;
    }

    /* contact section style edits */
    .contact-items ul
    {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .contact-items ul li a
    {
        font-size: 2.5vw;
        padding: 25px 20px;
    }

    /*Utility style edits */
    .flex-item span
    {
        width: 60%;
        font-size: 2em;
    }

    .primary-header
    {
        width: 30%
    }

    .primary-header h2
    {
        text-align: right;
        font-size: 1.5em;
    }

    /*corner only border style edits*/
    .border-corners-only::before 
    {
        width: calc(100% + 50px + 4px - 120px);
        height: calc(100% + 10px);
        top: -4px;
    }

    .border-corners-only::after 
    {
        height: calc(100% + 50px + 5px - 125px);
        width: calc(100% + 10px);
        left: -5px;
    }

}

/*Media Query for tablets and smaller */
@media screen and (max-width: 768px)
{
    header ul li a
    {
        color: var(--tertiary-color);
    }

    .about-content p
    {
        font-size: 1em;
    }

    .images-list a
    {
        height: 350px;
    }

    .contact-items ul li a
    {
        font-size: 1em;
        padding: 25px 20px;
    }

    .flex-row
    {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin-left: 100px;
    }

    .flex-item span
    {
        width: 70%;
        font-size: 1.25em;
    }

    .border-content, .border-corners-only
    {
        font-size: 1.1em;
        padding: 3px;
    }

    .primary-header h2
    {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 25px;
        font-size: 3.5vw;
        width: 150%;
    }
}

/*Media Query for mobile phones and smaller */
@media screen and (max-width: 575px)
{
    body
    {
        width: 80vw;
    }

    header
    {
        margin: 5px auto;
        width: 125%;
    }

    header h1
    {
        font-size: 1.75em;
    }

    header nav ul li a
    {
        font-size: 1em;
        padding: 0px 25px;
        color: var(--tertiary-color);
    }

    #toTopButton
    {
        width: 35px;
        height: 35px;
        bottom: 20px;
        left: 20px;
    }

    #toTopButton img
    {
        height: 35px;
        width: 35px;
    }

    .about-content, .images-list, .contact-items
    {
        width: 100%;
    }

    .about-content p
    {
        font-size: 0.75em;
    }

    .contact-items ul li a
    {
        font-size: 0.75em;
        padding: 10px;
    }

    .flex-row
    {
        width: 100%;
        margin-left: 25px;
    }

    .flex-item span
    {
        width: 75%;
        font-size: 0.75em;
    }

    .primary-header
    {
        width: 110%;
    }

    .primary-header h2
    {
        font-size: 1.2em;
        width: 100%;
        text-align: left;
    }
}