/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Syne+Mono&family=Share+Tech+Mono");

:root
{
    --primary-color: #000000;
    --secondary-color: #39ff14;
    --tertiary-color: #ffffff;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Syne Mono', sans-serif;
    font-size: 20px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    background-image: radial-gradient(rgba(0, 150, 0, 0.15), black 120%);
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;
}

header
{
    font-family: 'Major Mono Display', sans-serif;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 7.5px rgba(256, 256, 256, 0.55);
}

header h1
{
    font-family: 'Major Mono Display', sans-serif;
    font-weight: normal;
    font-size: 48px;
}

header a
{
    text-decoration: none;
    color: var(--secondary-color);
}

header nav
{
    margin: 10px;
}

header nav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a
{
    padding: 40px;
    font-size: 1.5vw;
}
/*On hover blink the first character*/
header nav ul li a:hover
{
    color: var(--tertiary-color);
    text-shadow: none;
}

header nav ul li a:hover::before
{
    content: '>';
}

h2
{
    font-family: 'Major Mono Display', sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-align: right;
    color: var(--secondary-color);
    text-shadow: 0 0 7.5px rgba(256, 256, 256, 0.55);
    display: inline-block;
    width: 100%;
}

.hero img
{
    height: auto;
    width: 400px;
    margin-bottom: 20px;
    padding: 5px;
}

.about-content
{
    width: 65%;
    margin: auto 50px;
}

.about-content p
{
    text-align: justify;
    line-height: 1.5;
    padding: 5px;
}

.about-content a
{
    color: var(--tertiary-color);
    border-bottom: 1px solid var(--secondary-color);
    padding: 2px;
    text-decoration: none;
}

.about-content a:hover
{
    color: var(--secondary-color);
}

/*Projects Section Styling*/
.images-list
{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: auto 45px;
    align-content: flex-start;
    justify-content: space-between;
}
/*
.images-list img
{
    height: auto;
    width: 48.7%;
    margin: 5px;
    padding: 10px;
    border: 5px solid var(--secondary-color)
}

.images-list img:first-child
{
    height: auto;
    width: 99%;
}
*/
.flex-item
{
    width: 49%;
    margin-bottom: 15px;
    display: flex;
    background-image: url('../images/calculator-pic.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
}

.flex-item:first-of-type
{
    height: 500px;
    width: 100%;
}

.span-bottom-left
{
    margin-top: auto;
    width: 48%;
    background-color: var(--primary-color);
    padding: 10px 20px;
    text-align: left;
    line-height: 1.5;
}

h3
{
    font-family: 'Major Mono Display', sans-serif;
}
h4
{
    font-weight: normal;
}

/*Contact Me Section Styling*/
.contact-me
{
    display: flex;
    width: 100%;
}

.contact-items
{
    width: 65%;
    margin: auto 50px;
}
.contact-items ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    list-style: none;

}
.contact-items ul li a
{
    padding: 40px;
    font-size: 1.25vw;
    color: var(--tertiary-color);
}
/* Utility Styles */
.flex-column
{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    height: auto;
}

.flex-row
{
    display: flex;
    width: 100%;
    margin: 50px auto;
}

.primary-header
{
    width: 20%;
}

